.account-page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.account-page-lhs-container {
    width: 310px;
    border-right: 1px solid gray;
    height: 100vh;
    padding-top: 140px;
}

.account-page-rhs-container {
    padding-left: 75px;
}

.account-page-rhs-header {
    padding-top: 175px;
}

.account-page-rhs-header h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
}

.account-page-rhs-general-info {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
}

.account-page-title {
    font-size: 25px;
    line-height: 31px;
    padding-top: 75px;
}

.account-page-subtitle {
    padding-top: 40px;
    font-size: 16px;
    line-height: 20px;
}

.account-page-profile-photo {
    margin-top: 20px;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-bottom: 70px;
}

.account-page-form {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy';
}

.account-page-input-background {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    padding: 1px;
}

.account-page-form input[type=text] {
    border: none;
    width: 360px;
    padding: 15px;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Gilroy';
}

.account-page-input-container{
    /* width: 100%; */
}

.account-page-input-subcontainer input[type=text]:focus {
    outline-width: 0;
}

.account-page-heading-container {
    width: 100%;
    padding-left: 510px;
    margin-top: 90px;
}

.account-page-input-label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.continue-button-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 90px;
    margin-bottom: 130px;
    padding-left: 255px;
}

.account-page-input-subcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.16);
    padding: 1px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 40px;
    max-width: 445px;
}

.account-page-input-subcontainer:hover {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
}

.account-page-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    height: 46px;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    background-color: #000000;
}

.account-page-icon-rhs {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    height: 46px;
    border-radius: 0px 10px 10px 0px;
    border-right: none;
    padding-right: 17px;
}

.password-input {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    border: none;
    background: #000000;
    margin-top: 0.5px;
    color: #ffffff;
    padding-left: 21px;
}