.account-page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 2500px;
}

.account-page-lhs-container {
    width: 310px;
    border-right: 1px solid gray;
    height: 100vh;
    padding-top: 140px;
    min-height: 3300px;
    color: #FFFFFF;
}

.account-page-lhs-back-button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    padding-left: 53px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}

.account-page-lhs-back-button div:first-child {
    background-color:#131314;
    border-radius: 50%;
    padding: 11px;
    height: 39px;
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 17px;
}

.account-page-lhs-progress-bar {
    margin-top: 92px;
}

.account-page-lhs-progress-bar-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 93px;
    margin-bottom: 16px;
    cursor: pointer;
}

.account-page-lhs-progress-bar-element div {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.account-page-lhs-progress-bar-element div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    height: 31px;
    width: 31px;
    padding: 8px;
    margin-right: 16px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.account-page-rhs-container {
    padding-left: 75px;
}

.account-page-rhs-header {
    padding-top: 175px;
}

.account-page-rhs-header h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
}

.account-page-rhs-general-info {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
}

.account-page-title {
    font-size: 25px;
    line-height: 31px;
    padding-top: 75px;
}

.account-page-subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-top: 40px;
}

.account-page-profile-photo {
    margin-top: 20px;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-bottom: 70px;
}

.account-page-form {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy';
}

.account-page-input-background {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    padding: 1px;
}

.account-page-form input[type=text] {
    border: none;
    width: 360px;
    padding: 15px;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Gilroy';
}

.account-page-input-container{
    /* width: 100%; */
}

.account-page-input-subcontainer input[type=text]:focus {
    outline-width: 0;
}

.account-page-input-subcontainer input[type=password]:focus {
    outline-width: 0;
}

.account-page-heading-container {
    width: 100%;
    padding-left: 510px;
    margin-top: 90px;
}

.account-page-input-label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.continue-button-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 90px;
    margin-bottom: 130px;
    padding-left: 255px;
}

.account-page-input-subcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.16);
    padding: 1px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 40px;
    max-width: 445px;
}

.account-page-input-subcontainer:hover {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
}

.account-page-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    height: 46px;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    background-color: #000000;
}

.account-page-icon-rhs {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    height: 46px;
    border-radius: 0px 10px 10px 0px;
    border-right: none;
    padding-right: 17px;
}

.password-input {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    border: none;
    background: #000000;
    margin-top: 0.5px;
    color: #ffffff;
    padding-left: 21px;
}

.password-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 370px;
    margin-top: -10px;
}

.password-info-icon {
    margin-right: 8px;
}

.password-info-icon img path {
    fill: gray;
}

.password-info-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: gray;
    text-align: left;
}

.account-page-cta {
    font-family: "Moderna";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    box-shadow: 0px 5px 30px rgba(165, 144, 251, 0.2);
    border-radius: 10px;
    padding: 15px 27px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.PhoneInputCountry {
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    padding: 15px 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.PhoneInputCountryIcon {
    margin-right: 15px;
}

.PhoneInputCountrySelectArrow {
    width: 5px !important;
    border-color: #ffffff !important;
}

.PhoneInputCountrySelectArrow:focus {
    border-color: white;
}

.PhoneInputInput {
    flex: 1 1;
    min-width: 0;
    background: black;
    border: none;
    color: #ffffff;
    font-family: 'Gilroy';
    padding: 17px;
    max-width: 255px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.PhoneInputInput:focus {
    outline: none;
}

.authentication-message {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
}

.nft-collections-container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-top: 127px;
}

.nft-collections-header h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}

.nft-collections-header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.nft-collections-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nft-collections-category {
    font-family: 'Moderna';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    padding: 12px 30px;
    box-shadow: 0px 5px 30px rgba(165, 144, 251, 0.2);
    border-radius: 10px;
}

.nft-collections-category-container {
    background: gray;
    padding: 1px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
}

.nft-collections-category-container:hover {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    padding: 1px;
}

.nft-collections-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

.nft-collections-card-container {
    background-color: #1E1E1E;
    border-radius: 30px;
    margin-right: 27px;
    margin-bottom: 27px;
    padding: 7px;
}

.nft-collection-card-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3px;
    border-radius: 30px;
}

.nft-collections-card-details {
    padding-left: 15px;
}

.nft-collections-card-details div:first-child {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 25px;
}

.nft-collections-card-details div {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
}

.nft-collection-card-price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 24px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}

.nft-collection-card-price div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nft-collection-card-price div:first-child div:first-child {
    margin-right: 12px;
}

.nft-collection-card-cta {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    box-shadow: 0px 5px 30px rgba(165, 144, 251, 0.2);
    border-radius: 10px;
    cursor: pointer;
    padding: 13px 10px;

    font-family: 'Moderna';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #050505;

    display: flex;
    align-items: center;
}

.nft-collection-card-cta img {
    margin-left: 5px;
    max-width: 5px;
}