.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background: #000000;
}

.select-modal-container {
    position: fixed;
    width: 475px;
    height: 600px;
    border-radius: 25px;
    background: #131314E5;
    left: 35%;
    top: 25%;
    z-index: 1000;
}

.select-modal-header {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;    
    text-align: center;  
    color: #676767;
    margin-bottom: 40px;
    margin-top: 40px;
}

.select-modal-header h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.select-modal-experience-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.05);
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 22px;
}

.select-modal-experience-icon  img {
    width: 100%;
    padding: 15px;
}

.select-modal-experience-icon  svg {
    width: 100%;
    padding: 15px;
}

.select-modal-experience {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 1px solid gray;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    cursor: pointer;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #676767;

    margin-bottom: 15px;
}

.select-modal-experience:hover > .select-modal-experience-icon svg path {
    fill: #ffffff;
}

.select-modal-experience:hover {
    color: #ffffff;
}

.select-modal-experience:hover > .select-modal-experience-icon {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
}
