.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 65px 255px;
    border-top: 0.5px solid #FFFFFF4D
}

.footer-lhs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.footer-tag-line {
    max-width: 300px;
    font-family: 'Gilroy';
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.footer-socials-container div {
    background: #25262A;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 12px;
}

.footer-link-columns {
    min-width: 105px;
    display: flex;
    flex-direction: column;
}

.footer-link-columns div {
    margin-bottom: 28px;
}

.footer-link-columns a {
    cursor: pointer;
    margin-bottom: 15px;
}