.progress-bar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 650px;
    margin: auto;
    font-family: 'Gilroy';
    font-size: 14px;
}

.progress-bar-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: gray;
}

.progress-bar-element {
    padding: 10px;
    border-radius: 50% ;
    height: 41px;
    width: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color:  #2A2A2A;
    color: gray;
    margin-bottom: 15px;
    cursor: pointer;
}

.active-element {
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    color: #000000;
}

.active-element + div {
    color: #ffffff;
}

.progress-bar-element::after {
    /* content: "";
    display: block;
    width: 130px;
    height: 2px;
    background: #ffffff;
    margin-left: 38px; */
}