.step-one-container {
    text-align: left;
    font-family: 'Gilroy';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-one-container input[type=text] {
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    width: 455px;
    padding: 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Gilroy';
}

.step-one-container input[type=text]:focus {
    outline-width: 0;
}

.step-one-container h2 {
    margin-top: 90px;
}

.step-one-input-label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.continue-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.step-one-input-subcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.step-one-input-subcontainer div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    padding-left: 15px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}



.continue-button {
    font-family: "Moderna";
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    box-shadow: 0px 5px 30px rgba(165, 144, 251, 0.2);
    border-radius: 10px;
    padding: 15px 85px;
    cursor: pointer;
}

.step-one-buttons-container {
    display: flex;
}

.step-one-single-button-container-active {
    max-width: 150px;
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    padding: 1px;
    border-radius: 10px;
}

.step-one-single-button-container {
    max-width: 150px;
    background: #ffffff;
    padding: 1px;
    border-radius: 10px;
    opacity: 0.4;
}

.step-one-single-button {
    padding: 15px 50px;
    background-color: #25262A;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}

.step-one-single-button-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
}

.step-one-single-button-icon-inner {
    background-color: #25262A;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: 5px;
}



