.step-one-container {
    text-align: left;
    font-family: 'Gilroy';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-one-container h2 {
    margin-top: 90px;
}

.continue-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.continue-button {
    font-family: "Moderna";
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    box-shadow: 0px 5px 30px rgba(165, 144, 251, 0.2);
    border-radius: 10px;
    padding: 15px 85px;
    cursor: pointer;
}