.step-two-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy';
}

.step-two-checkbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
}

.step-two-label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 33px;
    color: #FFFFFF;
}

.step-two-checkbox-icon {
    width: 19px;
    height: 19px;
    background: #000000;
    border: 1px solid #232323;
    border-radius: 3px;
    margin-right: 16px;
}

.step-two-checkbox-icon-active {
    width: 19px;
    height: 19px;
    background: linear-gradient(180deg, #439CFB 0%, #F187FB 100%);
    border-radius: 3px;
    margin-right: 16px;
    text-align: center;
}

.step-two-single-checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.step-two-checkbox-label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.step-two-upload-container {
    border: 1px dashed #232323;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px 205px;
}

.step-two-upload-svg {
    text-align: center;
}

.step-two-upload-main-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 12px;
}

.step-two-upload-main-text div {
    color: #FDA0FF;
    text-decoration: underline;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}


.step-two-upload-main-text div:first-child {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 5px;
    cursor: default;
}

.step-two-upload-secondary-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #676767;
}

.file-manager-upload-form {
    display: none;
}

.uploaded-files-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.uploaded-files-header {
    display: none;
    margin-bottom: 10px;
    text-decoration: underline;
}
